.imagesize {
    width: 350px;
    height: 250px;
    object-fit: cover;
}



.flexbox {
    display: flex;
    justify-content: space-between;

}



.flexbox2 {
    display: flex;
    flex-direction: row-reverse;

}



.margin {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    margin: 0 20%;
}

.marginbottom {
    margin-bottom: 5%;
    text-align: center;
}

.padding {
    padding-left: 20px;
    padding-bottom: 200px;    
}


.padding1{
   width: 40%;
   padding-right: 12em;
   padding-bottom: 100px;

}
.padding0{
padding-bottom: 170px;
}


